@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --color-primary: #282A3A;
  --color-secondary: #3c3444;
  --color-accent: #C69749;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-primary);
}

header {
  margin: 1rem 5rem 5rem 5rem;
}

form,
.books-section {
  margin: 1rem 15%;
  background-color: var(--color-secondary);
  padding: 3rem 2rem;
  border-radius: 10px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.title-container {
  width: 40%;
}

.author-container {
  width: 30%;
}

.pages-container {
  width: 10%;
}

.status-container {
  width: 10%;
}

#title,
#author,
#pages,
#status {
  width: 100%;
  padding: 0 5px;
}

label {
  font-weight: 100;
}

input,
select {
  height: 2.5rem;
  border: 1px solid #463e4e;
  background-color: var(--color-secondary);
  font-size: 1.1rem;
}

input,
select,
button {
  border-radius: 5px;
}

table {
  width: 100%;
}

.submit-button {
  width: 8rem;
  height: 3rem;
  margin-top: 1rem;
  background-color: var(--color-accent);
  border: none;
}

.status-button,
.remove-button {
  width: 5rem;
  height: 1.5rem;
  border: 1px solid #463e4e;
  background-color: #372f3f;
}

button:hover,
.submit-button:hover {
  cursor: pointer;
  color: #e6e6e6;
}

.submit-button:hover {
  background-color: #bc8d3f;
}

.remove-button:hover {
  background-color: #CD5C5CFF;
}


#read {
  background-color: #8FBC8FFF;
}

#read:hover {
  background-color: #719e71;
}

tr:first-child {
  font-size: 1.1rem;
}

th {
  text-align: left;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
